.main {
  background: #ffffff;
  height: auto;
  border-radius: 25px;
  border-color: #000000;
  border-width: 0px;
  border-style: solid;
  position: relative;
  width: 70%;
  margin: 5% auto;
  padding: 5px;
}

body {
  background-color: #999999;
  background-image: url(background.jpg);
  background-size: cover;
}

#header {
  position: relative;
  margin: 2% auto;
}

#nav {
  font-family: 'Urbanist', sans-serif;
  margin: auto 35%;
}

.logo {
  position: relative;
  margin: auto 25%; 
}